:root {
    --primary-100:#596E79;
    --primary-200:#788e98;
    --primary-300:#F0F5F9;
    --accent-100:#788189;
    --accent-200:#e1e4e6;
    --text-100:#1E2022;
    --text-200:#52616B;
    --bg-100:#F0ECE3;
    --bg-200:#DFD3C3;
    --bg-300:#C7B198;
  }
  