.card {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ebe2cd;
  }
  
  .card-header {
    background-color: #8B6B61;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #8B6B61;
    border-color: #8B6B61;
  }
  
  .btn-primary:hover {
    background-color: #797979;
    border-color: #797979;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: none;
  }